$primary-color: #ff9000;
$secondary-color: #e9ebee;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  @include button-reset;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 17px;
  border-radius: 3px;
  border: solid 1px transparent;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

.btn::-moz-focus-inner {
  border: none;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
  background-color: $primary-color;
  background: $primary-color;
  background: -moz-linear-gradient(top, $primary-color 1%, #efcb47 100%, #f1e767 100%, #f1e767 100%);
  background: -webkit-linear-gradient(top, $primary-color 1%, #efcb47 100%, #f1e767 100%, #f1e767 100%);
  background: linear-gradient(to bottom, $primary-color 1%, #efcb47 100%, #f1e767 100%, #f1e767 100%);
}

.no-touchevents {
  .btn:hover,
  .btn:focus {
    color: #ffffff;
    border-color: darken($primary-color, 15);
    background-color: lighten($primary-color, 15);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(230, 104, 21, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(230, 104, 21, 1);
    box-shadow: 1px 1px 5px 0px rgba(230, 104, 21, 1);
  }
}

.document-list-item__btn {
  flex-grow: 1;
  margin: 20px;
}

.touchevents {
  .document-list-item__btn {
    height: 24px;
    margin: 2px 20px 20px 20px;
  }
}

.btn--normal {
  border: 1px solid #fd7722;
  background-color: $primary-color;
  background: $primary-color;
  background: -moz-linear-gradient(top, darken(#f1e767, 10) 0%, $primary-color 100%);
  background: -webkit-linear-gradient(top, darken(#f1e767, 10) 0%, $primary-color 100%);
  background: linear-gradient(to bottom, darken(#f1e767, 10) 0%, $primary-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
  color: #ffffff;
}

.btn--disable {
  opacity: .5;
  pointer-events: none;
}

.no-touchevents, .touchevents {
  .btn--disable:hover,
  .btn--disable:focus {
    color: #ffffff;
    border-color: transparent;
    background-color: $primary-color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}