include ../../components/index

doctype html
html(lang='ru')
    head
        title Test components
        link(rel='stylesheet', href='./css/index.css')
        block styles
        script(src='scripts/modernizr.js')
        script(src='scripts/main.js')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        block content
